@if(isLoading) {
<app-spinner></app-spinner>
}
@else {

<div style="text-align: end;">

    <mat-form-field appearance="outline">
        <mat-label>Pesquisar usuário</mat-label>
        <input matInput (keyup)="filterUsers($event.target.value)" placeholder="Digite o nome">
    </mat-form-field>
</div>

<table mat-table [dataSource]="users">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{ user.id }} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let user"> {{ user.first_name }} {{ user.last_name }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
    </ng-container>

    <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef> Avatar </th>
        <td mat-cell *matCellDef="let user">
            <img [src]="user.avatar" alt="Avatar" width="50" height="50" />
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let user">
            <button mat-icon-button color="primary" (click)="goToUser(user.id)">
                <mat-icon>open_in_new</mat-icon>
            </button>

            <button mat-icon-button color="primary"
                (click)="openEditModal(user.id, user.first_name, user.last_name, user.email)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openDeleteModal(user.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    @if(!isLoading){
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhum usuário encontrado.</td>
    </tr>
    }


</table>

<mat-paginator [length]="totalUsers" [pageSize]="page_size" [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="onPageChange($event)">
</mat-paginator>

}